@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: 'Roboto', sans-serif;
}

body{
    background-color: rgb(1, 0, 14);
    
    color: aliceblue;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: rgba(0, 0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 25px;
    color: aliceblue;
    text-decoration: none;
    font-weight: 600;
}


.navbar a{
    font-size:18px ;
    color: aliceblue;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active{
    color: #ffa26a;
}

.home{
    display: flex;
    height: 100vh;
    align-items: center;
    padding: 0 10%;
    background: url('pexe.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    
}

.home-content{
    max-width: 600px;
}

.home-content h1{
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
}

.home-content h3{
    font-size: 32px;
    font-weight: 700;
    color: #ffa26a;
}

.home-content p{
    font-size: 16px;
    margin: 20px 0 40px;
}

.home-content .btn-box {
    justify-content: space-between;
    display: inline-flex;
    width: 345px;
    height: 50px;

}

.btn-box  a{
    position: relative;
    width: 150px;
    height: 100%;
    justify-content: center;
    display: inline-flex;
    align-items: center;
    background-color: #ffa26a;
    border: 2px solid #ffa26a;
    border-radius: 3px;
    font-size: 19px;
    color: black;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
}

.btn-box  a:hover{
    color: #ffa26a;
}

.btn-box  a:nth-child(2){
    background-color: transparent;
    color: #ffa26a;
}

.btn-box  a:nth-child(2):hover{
    color: rgb(137, 165, 165);
    background-color: #ffa26a;
}

.btn-box  a:nth-child(2)::before{
    color: rgb(21, 58, 58);
}

.btn-box  a::before{
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   width: 0;
   height: 100%;
   background: rgb(1, 0, 14);
   transition: .2s;
   z-index: -1;
}

.btn-box  a:hover::before{
    width: 100%;
}

.home-sci{
    position: absolute;
    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: space-between;

}

.home-sci a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #ffa26a;
    border-radius: 50%;
    font-size: 20px;
    color: #ffa26a;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}
.home-sci a:hover{
    color:rgb(1, 0, 14); ;
}
.home-sci a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    z-index: -1;
    transition: .5s;
    background: #ffa26a;
}

.home-sci a:hover::before{
    width: 100%;
}


#video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}